<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Meet our team
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        We’re a dynamic group of individuals who are passionate about what we do
        and dedicated to delivering the best results for our clients.
      </p>
    </div>
    <ul
      role="list"
      class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 lg:max-w-4xl lg:gap-x-8 xl:max-w-none"
    >
      <li class="flex flex-col gap-6 xl:flex-row">
        <img
          class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
          src="../assets/images/ava1.jpeg"
          alt=""
        />
        <div class="flex-auto">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            NGUYEN NHAT HUY
          </h2>
          <p class="text-base leading-7 text-emerald-500 font-mono font-bold">
            Project Manager
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">
            I am now a second-year student who majors in Software Engineering at
            FPT University Danang. I have knowledge and experience in
            programming andcurrently working on some pet projects on my own.
          </p>
        </div>
      </li>

      <!-- More people... -->
      <li class="flex flex-col gap-6 xl:flex-row">
        <img
          class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
          src="../assets/images/ava2.png"
          alt=""
        />
        <div class="flex-auto">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            LE NHAT QUANG
          </h2>
          <p class="text-base leading-7 text-emerald-500 font-mono font-bold">
            Front-end Developer
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">
            With my knowledge of UI/ UX design, I enjoy solving front-end
            problems and creating the best user experience for users.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
