.blog-posts-container {
    max-width: 800px;
    margin: 0 auto; 
    margin-bottom: 75px;
    padding: 15px;
    background-color: #d4d0d0;
    border-radius: 20px;
}

.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-posts-container h2 {
    margin-bottom: 20px;
}

.blog-posts-container .author {
    margin-bottom: 20px;
}

.blog-posts-container .summary {
    margin-bottom: 20px;
}

.blog-posts-container a {
    text-decoration: none;
    background-color: green;
    color: darkblue;
    padding: 10px 10px;
    border-radius: 2px;
    display: inline-block;
}
