@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat&display=swap');
*
{box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
li, a, button, h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 120%;
    color: #edf0f1;
    text-decoration: none;
}
h1{
    margin-left: 10px;
    font-family: 'Alfa Slab One', cursive;
}
img {
    width: 8%;
    height: auto;
  }
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 65%;
}
.logo, h1{
    cursor: pointer;
    margin-right: auto;

    display: flex;
    order: 3;
   margin-right: -100px;
}
nav{
    order: 1;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
.cta{
    order: 2
}
button{
    padding: 9px 25px;
    margin-left: 20px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
