<header>
  <div class="logo">
    <a href="/">
      <img src="../../../assets/images/logo.png" alt="" />
      <h1>Heart2heart</h1>
    </a>
  </div>
  <div
    class="menu_icon"
    [class.menu_iconClass]="menu_icon_variable"
    (click)="openMenu()"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav>
    <div class="menu" [class.menuClasse]="menuVariable">
      <ul class="nav_links">
        <li [class.active]="isRouteActive('movie')">
          <a [routerLink]="['movie']">Movie</a>
        </li>
        <li [class.active]="isRouteActive('blogs')">
          <a [routerLink]="['blogs']">Blogs</a>
        </li>
        <li [class.active]="isRouteActive('marketplace')">
          <a [routerLink]="['marketplace']">Marketplace</a>
        </li>
        <li [class.active]="isRouteActive('about-us')">
          <a [routerLink]="['about-us']">About us</a>
        </li>
        
        <li [class.active]="isRouteActive('login')">
          <a [routerLink]="['/auth/login']"><button>Login</button></a>
        </li>
        <li [class.active]="isRouteActive('/auth/signup')">
          <a [routerLink]="['/auth/signup']">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
