.post-container {
    max-width: 1000px;
    margin: 0 auto; 
    margin-bottom: 75px;
    padding: 15px;
    background-color: #d4d0d0;
    margin-top: 100px;
    overflow: hidden;
}

.post-container img {
    width: 100%;
    margin-bottom: 20px;
}

.post-container h2 {
    margin-bottom: 20px;
    padding: 0 20px;
}

.post-container p {
    margin-bottom: 20px;
    padding: 0 20px;
}