<div class="container">
  <iframe
    width="50%"
    height="55%"
    src="https://www.youtube.com/embed/BxuY9FET9Y4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <div
    class="content"
    style="
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    "
  >
    <h1>
      TOGETHER
      <br />
      WE STOP
      <br />
      BULLYING!
    </h1>
    <p>{{ quote }}</p>
    <button><a [routerLink]="['/blogs']">Watch our movie!</a></button>
  </div>
</div>
