<div class="container">
  <iframe
    class="background-clip"
    width="50%"
    height="55%"
    src="https://www.youtube.com/embed/PAKFzFqJa58"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <div class="content">
    <h1>
      TOGETHER
      <br />
      WE STOP
      <br />
      BULLYING!
    </h1>
    <p>{{ quote }}</p>
    <button><a [routerLink]="'movie'">Watch our movie!</a></button>
  </div>
</div>
