* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
  }
  
  .container {
    max-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }
  
  .content {
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-family: 'Lora', serif;
    text-indent: 50px;
    max-width: 700px;
  }
  iframe{
    border-radius: 20px;
  }
  
  


  @media screen and (min-width: 435px) and (max-width:700px) {
    .container {
      flex-direction: column;
    }
  
    iframe {
      width: 95%;
      height: 95%;
      margin-bottom: 20px;
      border-radius: 20px;
    }
  
    .content {
      font-size: xxx-large;
      text-indent: 0;
    }
  }
  
  a {
    text-decoration: inherit;
    color: rgb(56, 0, 57);
    font-size: larger;
    font-weight: 500;
  }
  
  button {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    border: none;
    border-radius: 20px;
    font-size: large;
    padding: 10px 25px;
    margin-top: 20px;
    color: white;
    font-weight: 500;
  }
  
  button:hover {
    opacity: 1.5;
  }
  
  p {
    font-size: 25px;
    color: #a7a7aa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
  }
  
 
h1{
  font-size: xxx-large;
}