<!-- <div *ngFor="let product of products">
  {{ product.type }}
</div> -->

<main class="main">
  <div class="responsive-wrapper">
    <div class="main-header">
      <h1>Anything you want is here!</h1>
      <div class="search">
        <input
          type="text"
          placeholder="Search"
          class="nav-v2-search__input bg-gray-100 rounded-xl inline"
        />
        <button type="submit" class="bg-slate-100 mx-4 py-2 px-2 rounded-lg">
          Find
        </button>
      </div>
    </div>
    <div class="horizontal-tabs">
      <a href="#">Lifestyle</a>
      <a href="#">Jordan</a>
      <a href="#">Running</a>
      <a href="#">Basketball</a>
      <a href="#">Football</a>
      <a href="#" style="color: #ea4c89">Go Pro</a>
    </div>

    <div class="content cart">
      <div class="content-panel">
        <!-- <div
          class="vertical-tabs px-0 bg-slate-100 rounded rounded-xl w-60 h-auto flex"
        >
          <h2 class="bold text-xl text-center px-3 py-4">Summary</h2>

          <div class="cart">
            <h2>Cart</h2>
            <div *ngFor="let item of cartItems">
              <p>{{ item.name }} - Quantity: {{ item.quantity }}</p>
              <button (click)="removeItem(item)">Remove</button>
            </div>
            <button (click)="clearCart()">Clear Cart</button>
          </div>
          <p>Total Price: {{ numberWithCommas(getTotalPrice()) }},000 VND</p>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full w-40 justify-center"
          >
            Checkout
          </button>
        </div> -->
      </div>

      <div class="content-main">
        <div class="card-grid">
          <div *ngFor="let product of products">
            <article class="card">
              <div class="card-header">
                <img src="{{ product.imageUrl }}" />
              </div>
              <div class="card-body block">
                <h2 class="bold text-lg block">
                  {{ product.name | slice : 0 : 23 }}
                </h2>
                <p>{{ product.type }} Shoes</p>
                <a href="#" class="price font-medium block"
                  >{{ numberWithCommas(product.price) }},000 VND</a
                >
              </div>
              <div class="card-footer ml-1 flex">
                <button
                  class="bg-white hover:bg-gray-100 text-gray-600 font-semibold py-2 px-4 border border-gray-200 rounded shadow mr-auto"
                  (click)="openDialog(product)"
                >
                  Details
                </button>
                <button>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 ml-auto"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                    />
                  </svg>
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
