<div class="main-header">
  <button (click)="openDialog()">
    <h2
      class="rounded-2xl bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
    >
      Create a post
    </h2>
  </button>
  <div class="search">
    <input type="text" placeholder="Search" class="border-solid" />
    <button
      type="submit"
      class="rounded-md bg-slate-400 px-3.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
    >
      <i class="ph-magnifying-glass-bold"></i>
      Find
    </button>
  </div>
</div>
<main *ngIf="blogPosts$ | async as blogPosts">
  <div
    class="blog-posts-container"
    *ngFor="let blogPost of $any(blogPosts).items"
  >
    <img [src]="blogPost.fields.featuredImage.fields.file.url" />
    <h2>
      <a [routerLink]="blogPost.sys.id">{{ blogPost.fields.title }}</a>
    </h2>

    <p class="author">@{{ blogPost.fields.author }}</p>
    <p class="summary">{{ blogPost.fields.summary }}</p>
    <div class="line">
      <button class="heart-button" (click)="toggleHeart()">
        <i [class]="isHearted ? 'fas fa-heart' : 'far fa-heart'"></i>
      </button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"
        />
      </svg>

      <a [routerLink]="blogPost.sys.id" class="read-more-link">Read more</a>
    </div>
  </div>
</main>
