

.blog-posts-container {
    max-width: 800px;
    margin: 0 auto; 
    margin-bottom: 75px;
    padding: 15px;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    border: 2px solid #767676;
    margin-top: 5%;
}

.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
}

.blog-posts-container h2 {
    margin-bottom: 20px;
}

.blog-posts-container .author {
    margin-bottom: 20px;
    font-style: italic;
    color: rgb(93, 92, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog-posts-container .summary {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to display before ...*/
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .blog-posts-container .summary.truncated::after {
    content: 'more...';
    display: inline;
    color: #1a90d0;
    cursor: pointer;
  }
  
  .blog-posts-container a.button {
    display: flex;
    justify-content: flex-end;
  }
.blog-posts-container a:not(:nth-child(1)) {
    text-decoration: none;
    background-image: linear-gradient(to right, #8360c3, #1a90d0);
    color: white;
    padding: 10px 10px;
    border-radius: 50px;
    display: inline-block;
    justify-content: flex-end;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog-posts-container a:nth-child(1){
    text-decoration: none;
    color: #060606;
    font-family: 'Playfair', serif;
    font-size: xxx-large;
}
.read-more-link:hover{
    background-color: rgb(245, 25, 208);
    
    
}
svg{
    display: inline;
    width: 5%;
    height: auto;
    padding-right: 5px
}

a:not(:nth-child(1)){
    margin-left: 82%;
    
   
}
.blog-posts-container .line {
    display: flex;
    align-items: center;
  }
  
  .blog-posts-container .line svg {
    width: 5%;
    height: auto;
    padding-right: 5px;
  }
  
  .blog-posts-container .line .read-more-link {
    margin-left: auto;
  }
  
  .heart-button {
    
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 10px;
  }
  
  .heart-button i {
    font-size: 28px;
    color: #ff0000;
    transition: color 0.3s;
    
  }
  
  .heart-button i:hover {
    color: #ff5f5f;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
  
    }
    h2 {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.25;
      margin: 50px;
    }
    
  .main-header {
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 2%;
  }
  .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 340px;

  }
  input{
    border: 1px solid #767676;
    border-radius: 10px;
    margin-right: 2%;
    padding: 4px
  }
  