<div class="container">
    <div class = "top">
    
    <div class = "center">
      <p><span id = "bigtext"> BULLIES IS IDIOT </span><br>
        <p class="subtitle"><i class="fa-solid fa-eye"></i>23,00 views  <i class="fa-solid fa-eye"></i>5,423 like</p>
      <p>One day, the boy is walking home from school when he sees a group of kids playing basketball. He decides to join in, and he quickly makes friends with the other kids. The boy starts to feel more confident and less afraid. He realizes that he doesn't have to be alone, and that there are people who will stand up for him.</p>
     <a href="" class="button b1"> ▶ Watch now</a>
     <a href="" class="button b2"> ⓘ More Info</a>
     
     </div>
    </div>
  <table width = 100% >
    <tr>
      <td width = 100%>
        <div class = center>
          <p><b><span id = "bigtext"> Enjoy on you TV</span></b></p>
            <p style = "font-size: 40px;"> Watch on smart TV's, Playstation, Xbox, chromecast, Apple Tv, blue Ray players and more.</p>
        </div>
      </td>
      <td width = 50% >
        <div>
          <img src = "https://img.freepik.com/premium-photo/boy-student-getting-bullied-school_53876-46256.jpg" height="350px">
          </div>
      </td>
    </tr>
 
    <tr>
      <td colspan = "2">
      <hr style= "hieght:6px; backgorund-color:#222222; border-width: 0;">
      </td>
    </tr>
    <tr>
      
        <img src=" https://images.unsplash.com/photo-1682687218147-9806132dc697?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80" height="450px">
        
      
      <td width = 100%>
        <div class = "center"> 
          <p><b><span id = "bigtext">All free</span></b></p>
            <p style = "font-size: 40px;" width="20px">No fee require, just donation.</p>
        </div>
      </td>
    </tr>

<td colspan = "2">
      <hr style= "hieght:6px; backgorund-color:#222222; border-width: 0;">
      </td>
    

   

     <tr>
      <td colspan="2">
      <hr style="height:6px;background-color:#222222; border-width:0;">
      </td>
    </tr>

    <tr>
      <td width="50%">
        <div class="center">
          <p><b><span id="bigtext">Watch everywhere.</span></b><br>
    <p style="font-size: 40px;">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
  </div>
      </td>
      <td width="50%">
        <div>
        <img src="https://netflix-images.manikantp.repl.co/Netflix3.gif" height="350px"/>
        </div>
      </td>
    </tr>
  </table>

</div>