<div class="container">
    <div class = "top">
    
    <div class = "center">
      <p><span id = "bigtext"> BULLIES IS IDIOT </span><br>
        <p class="subtitle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        23,432 views  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
        </svg>
        5,423 like</p>
      <p>One day, the boy is walking home from school when he sees a group of kids playing basketball. He decides to join in, and he quickly makes friends with the other kids. The boy starts to feel more confident and less afraid. He realizes that he doesn't have to be alone, and that there are people who will stand up for him.</p>
     <a href="" class="button b1"> ▶ Watch now</a>
     <a href="" class="button b2"> ⓘ More Info</a>
     
     </div>
    </div>
  <table width = 100% >
    <tr>
      <td width = 100%>
        <div class = center>
          <p><b><span id = "titlecontent"> Enjoy on you TV</span></b></p>
            <p id = "titlecontent2"> Watch on smart TV's, Playstation, Xbox, chromecast, Apple Tv, blue Ray players and more.</p>
        </div>
      </td>
      <td width = 50% >
        <div>
          <img src = "https://img.freepik.com/premium-photo/boy-student-getting-bullied-school_53876-46256.jpg" height="350px">
          </div>
      </td>
    </tr>
 
    <tr>
      <td colspan = "2">
      <hr style= "hieght:6px; backgorund-color:#222222; border-width: 0;">
      </td>
    </tr>
    <tr>
      
        <img src=" https://images.unsplash.com/photo-1682687218147-9806132dc697?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80" height="450px">
        
      
      <td width = 100%>
        <div class = "center"> 
          <p><b><span id = "titlecontent">All free</span></b></p>
            <p id = "titlecontent2">No fee require, just donation.</p>
        </div>
      </td>
    </tr>

<td colspan = "2">
      <hr style= "hieght:6px; backgorund-color:#222222; border-width: 0;">
      </td>
    

   

     <tr>
      <td colspan="2">
      <hr style="height:6px;background-color:#222222; border-width:0;">
      </td>
    </tr>

    <tr>
      <td width="50%">
        <div class="center">
          <p><b><span id = "titlecontent">Watch everywhere.</span></b><br>
    <p id = "titlecontent2">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
  </div>
      </td>
      <td width="50%">
        <div>
        <img src="https://netflix-images.manikantp.repl.co/Netflix3.gif" height="350px"/>
        </div>
      </td>
    </tr>
  </table>

</div>