<main *ngIf="blogPost$ | async as blogPost">
  <div class="post-container">
    <h1>
      {{ $any(blogPost).fields.title }}
    </h1>
    <img [src]="$any(blogPost).fields.featuredImage.fields.file.url" />

    <p class="author">Posted by @{{ $any(blogPost).fields.author }}</p>
    <p class="summary">{{ $any(blogPost).fields.summary }}</p>
    <div
      class="content-container"
      *ngFor="let content of $any(blogPost).fields.content.content"
    >
      <p class="content">
        {{ content.content[0].value }}
      </p>
    </div>
  </div>

  <div class="comments-container">
    <h1>Comments Section</h1>
    <div class="comment" *ngFor="let comment of comments">
      <p class="username">{{ comment.username }}</p>
      <p class="content">{{ comment.content }}</p>
    </div>
  </div>
</main>
