<main *ngIf="blogPost$ | async as blogPost">
  <div class="post-container">
    <h1>
      {{ $any(blogPost).fields.title }}
    </h1>
    <img [src]="$any(blogPost).fields.featuredImage.fields.file.url" />

    <p class="author">Posted by @{{ $any(blogPost).fields.author }}</p>
    <p class="summary">{{ $any(blogPost).fields.summary }}</p>
    <div
      class="content-container"
      *ngFor="let content of $any(blogPost).fields.content.content"
    >
      <p class="content">
        {{ content.content[0].value }}
      </p>
    </div>
  </div>

  <div class="comments-container">
    <h1>Comments Section</h1>
    <div class="comment" *ngFor="let comment of comments">
      <div class="username-container">
      <img class="avatar" src="https://vcdn-sohoa.vnecdn.net/2021/02/16/v2-4f48da9ef042a1915ebfedd0682-6733-6243-1613447924.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=8wSEh1FTPclZ4tmr62i8Zw" /><p class="username">{{ comment.username }}</p></div>
      <p class="content">{{ comment.content }}</p>
      <br>
    </div>
  </div>
</main>
