

.blog-posts-container {
    max-width: 800px;
    margin: 0 auto; 
    margin-bottom: 75px;
    padding: 15px;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    border: 2px solid #767676;
    margin-top: 5%;
}

.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
}

.blog-posts-container h2 {
    margin-bottom: 20px;
}

.blog-posts-container .author {
    margin-bottom: 20px;
    font-style: italic;
    color: rgb(93, 92, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog-posts-container .summary {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to display before ...*/
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .blog-posts-container .summary.truncated::after {
    content: 'more...';
    display: inline;
    color: #1a90d0;
    cursor: pointer;
  }
  
  .blog-posts-container a.button {
    display: flex;
    justify-content: flex-end;
  }
.blog-posts-container a:not(:nth-child(1)) {
    text-decoration: none;
    background-image: linear-gradient(to right, #8360c3, #1a90d0);
    color: white;
    padding: 10px 10px;
    border-radius: 50px;
    display: inline-block;
    justify-content: flex-end;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog-posts-container a:nth-child(1){
    text-decoration: none;
    color: #060606;
    font-family: 'Playfair', serif;
    font-size: xxx-large;
}
.blog-posts-container a:not(:nth-child(1)):hover{
    background-color: rgb(245, 25, 208);
    
    
}
svg{
    display: inline;
    width: 5%;
    height: auto;
    padding-right: 5px
}
a:not(:nth-child(1)){
    margin-left: 82%;
    
   
}
.blog-posts-container .line {
    display: flex;
    align-items: center;
  }
  
  .blog-posts-container .line svg {
    width: 5%;
    height: auto;
    padding-right: 5px;
  }
  
  .blog-posts-container .line .read-more-link {
    margin-left: auto;
  }
